.media {
    &-background {
        position: absolute;
        top: 56px;
        left: 0;
        right: 0;
        z-index: 1;
        height: 350px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 2;
            background-color: rgba(0,0,0,.6);
        }
        +.container {
            position: relative;
            z-index: 20;
            padding-top: 215px;
        }
    }
    &-container {
        display: flex;
        padding-top: 20px;
    }

    &-sidebar {
        width: 280px;
        padding-right: 30px;
        &__cover {
            position: relative;
            overflow: hidden;
            img {
                display: block;
                width: 100%;
            }
        }

        &-actions {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            justify-content: space-around;
            padding-top: 70px;
            padding-bottom: 6px;
            background-image: linear-gradient(0deg, rgba(0, 0, 0, .9), transparent);
            &__item {
                cursor: pointer;
                padding: 2px 6px;
                width: 32px;
                text-align: center;
                font-size: 16px;
                color: $white;
                opacity: .7;
                transition: .3s ease;
                &:hover {
                    opacity: 1;
                    color: $white;
                }
            }
        }

        &__buttons {
            .fa-chevron-down {
                font-size: 10px;
                right: 0;
                left: auto;
                background: transparent;
            }
        }

    }

    &-info-list {
        padding: 9px 8px;
        &__item {
            padding: 4px 8px;
            border-radius: 3px;
            display: block;
            width: 100%;
            cursor: pointer;
            text-decoration: none;
            color: $text-primary;
            &:hover {
                background-color: hsla(240, 5%, 48%, .05);
                color: $text-primary;
                text-decoration: none;
            }
        }

        &__title {
            font-size: 12px;
            color: $text-muted;
        }

        &__value {
            
        }
    }


    // Media content
    &-content {
        width: 100%;
        &_side {
            max-width: calc(100% - 280px);
        }
    }

    &-name {
        margin-bottom: 8px;
        color: $white;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        &__body {
            padding-right: 20px;
            text-shadow: 0 0 2px rgba(0, 0, 0, .65);
        }
        &__main {
            font-size: 24px;
            line-height: 1.2;
            font-weight: 600;
        }
        &__alt {
            font-size: 18px;
            font-weight: 400;
        }
        
    }

    &-rating {
        display: flex;
        align-items: baseline;
        justify-content: flex-end;
        .fa-star {
            color: $orange;
            font-size: 16px;
        }
        &__value {
            font-size: 22px;
            margin: 0 4px;
            font-weight: 600;
        }
        &__votes {
            font-size: 16px;
            opacity: .7;
        }
        &-button {
            margin-top: 5px;
            border-radius: 4px;
            padding: 0 14px;
            height: 28px;
            line-height: 26px;
        }

        &_sm {
            .media-rating {
                &__star, &__votes {
                    font-size: 12px;
                }
                &__value {
                    font-size: 14px;
                    margin-right: 4px;
                }
            }
        }
    }

    // Tabs 
    &-tabs {
        padding: 0 18px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    &-section {
        padding: 12px 18px;
        &_info {
            padding-bottom: 6px;
        }
        &_teams {
            padding-top: 6px;
            .media-section__head {
                margin-bottom: 0;
            }
        }
        &_slider {
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 6px;
            .media-section__head {
                margin-bottom: 6px;
                padding-left: 18px;
                padding-right: 18px;
                display: flex;
                align-items: center;
            }
        }
        &_stats {
            display: flex;
        }

        &__head {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }
        &__title {
            font-weight: 600;
            font-size: 15px;
            a {
                color: $text-muted;
                margin-left: 5px;
                font-size: 12px;
                font-weight: 400;
            }
        }

        &__column {
            width: 50%;
            &:first-child {
                padding-right: 18px;
            }
            &:last-child {
                padding-left: 18px;
            }
        }
    }

    &-description {
        margin-bottom: 6px;
        word-break: break-word;
        &_short {
            .media-description__text {
                max-height: 90px;
                overflow: hidden;
            }
        }

        &__text {
            line-height: 1.6;
        }

        &__expand {
            font-size: 12px;
            color: $text-link;
            background: none;
            border: 0;
            padding: 0;
            cursor: pointer;
        }
    }

    &-tags {

        &__item {
            padding: 5px 10px;
            margin-right: 8px;
            margin-top: 8px;
            line-height: 14px;
            font-size: 13px;
            border-radius: 4px;
            display: inline-block;
            border: 1px solid $border-base;
            color:rgba(60, 60, 67, .6);
            transition: .3s ease;
            cursor: pointer;
            &:hover {
                text-decoration: none;
                color: $text-primary;
                background-color: hsla(240, 4%, 48%, .12);
            }
            &_more {
                padding-left: 7px;
                padding-right: 7px;
            }
        }
    }


    &-slider {
        overflow: hidden;

        &-arrows {
            display: flex;
            &__arrow {
                width: 22px;
                height: 22px;
                text-align: center;
                font-size: 11px;
                line-height: 22px;
                border-radius: 3px;
                cursor: pointer;
                background-color: hsla(240, 5%, 48%, .05);
                &:hover {
                    background-color: hsla(240, 4%, 48%, .12);
                }
                &:last-child {
                    margin-left: 10px;
                }
            }
        }

        &__wrap {
            display: flex;
        }
        &__item {
            padding: 6px 9px;
            &:first-child {
                padding-left: 18px;
            }
            &:last-child {
                padding-right: 18px;
            }
        }
    }

    &-stats {
        display: table;
        width: 100%;
        &__item {
            display: table-row;
        }
        &__column {
            display: table-cell;
            padding: 4px 6px;
            vertical-align: middle;
            font-size: 13px;
            &:first-child {
                padding-left: 0;
            }
        }
        &__title {
            white-space: nowrap;
            .fa {
                color: $text-muted;
                margin-left: 5px;
                font-size: 12px;
            }
        }
        &__progress {
            width: 100%;
            &-bar {
                &[data-score="5"] {
                    background-color: $green-lighten;
                }
            }
        }

        &__percent {
            font-weight: 700;
        }

        &__count {
            color: $text-muted;
        }
    }

    &-chapters {
        &__head {
            position: relative;
            &:after {
                content: '';
                position: absolute;
                left: 18px;
                right: 18px;
                bottom: 0;
                height: 1px;
                background-color: $border-base;
            }
        }

        &__actions {

        }

        &__sort {
            display: flex;
            align-items: center;
            svg {
                width: 16px;
                height: 16px;
                margin-right: 5px;
                transition: transform .25s ease;
            }
            &-arr-left {
                fill: $text-primary;
            }
            &-arr-right {
                fill: $text-muted;
            }
        }

        &__list {
            padding: 6px 14px;
        }
    }

    &-chapter {
        position: relative;
        padding: 5px 8px;
        height: 40px;
        background: $white;
        display: flex;
        align-items: center;
        &:hover {
            background-color: $background-hover;
            .media-chapter__date {
                opacity: 0;
            }
            .media-chapter__actions {
                opacity: 1;
            }
        }
        &__icon {
            width: 28px;
            height: 28px;
            line-height: 28px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            color: $text-primary;
            opacity: .7;
            &:hover {
                color: $text-primary;
                text-decoration: none;
                opacity: 1;
            }

            &_edit {
                margin-right: 8px;
            }
        }

        &__body {
            display: flex;
            align-items: center;
            padding-left: 5px;
            overflow: hidden;
            flex-grow: 1;
        }

        &__name {
            margin-right: auto;
        }

        &__username, &__date {
            color: $text-muted;
            font-size: 13px;
            margin-left: 16px;
        }

        &__username {
            width: 120px;
            a {
                text-decoration: none;
                color: currentColor;
            }
        }

        &__date {
            width: 74px;
        }

        &__actions {
            position: absolute;
            opacity: 0;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            top: 0;
            bottom: 0;
            right: 0;
            transition: opacity .1s ease;
            
        }

        &_new {
            .media-chapter__name:after {
                content: '';
                width: 5px;
                height: 5px;
                display: inline-block;
                margin-left: 3px;
                border-radius: 50%;
                background-color: $green;
                vertical-align: middle;
            }
        }
    }
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    &__item {
        display: flex;
        align-items: center;
        border-radius: 4px;
        margin-right: 10px;
        margin-top: 10px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .12);
        background-color: $white;
        color: $text-primary;
        text-decoration: none;
        cursor: pointer;
        &:hover {
            text-decoration: none;
            color: $text-primary;
        }
    }
    &__cover {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 3px 0 0 3px;
        width: 28px;
        height: 28px;
    }
    &__name {
        font-weight: 400;
        padding: 0 8px;
    }
}