$primary: #2ea3e7;
$primary-lighten: #40abe9;
$gray: #f2f2f3;
$green: #3cce7b;
$green-lighten: #76db98;
$green-darken: #33ca74;
$orange: #ffb656;
$orange-darken: #f5b041;
$blue: #007feb;
$white: #ffffff;
$red: #f44336;

$text-primary: #212529;
$text-secondary: #818181;
$text-muted: #868e96;
$text-link: #1992d8;

$border-base: #e5e5e5;

$button-default-color: rgba(33, 37, 41, 0.8);
$button-background-hover: hsla(0, 0%, 100%, 0.15);
$button-default-bg-hover: #d5d7d8;

$background-darken: hsla(240, 5%, 48%, 0.05);
$background-highlight: #fbfbfc;
$background-hover: hsla(240, 5%, 48%, 0.05);
$background-lighten: hsla(0, 0%, 100%, 0.08);

$tag-bg: #e7edf3;

$input-border: #dcdcdc;
$input-border-focus: #c0c4cc;

$scrollbar-thumb: #c1c1c1;
$scrollbar-track: #f1f1f1;
